body{
    background: #544e83;
}
h1{
    text-align: center;
    color:red
}
p{
    text-align: center;

    text-align: center;

}

h1{
    color:red
}

em strong{
    color: rgb(52, 12, 160);
}

#missao{
    font-size: 20px;
}